<!DOCTYPE html>
<html>
<head>
    <title>Guess the Number</title>
    <style>
        body {
            background-color: #202020;
            color: #ffffff;
            font-family: Arial, sans-serif;
            padding: 20px;
            margin: 0;
        }

        h1 {
            margin-bottom: 30px;
        }

        .container {
            max-width: 500px;
            margin: 0 auto;
        }

        .message {
            margin-top: 20px;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Guessing Game</h1>
        <p class="message">{{ message }}</p>

        {% if not message %}
        <form action="/play" method="POST">
            <label for="guess" class="form-label">Guess the number between 1 and 100:</label>
            <input type="number" id="guess" name="guess" class="form-input" required>
            <input type="hidden" name="number" value="{{ guess }}">
            <input type="hidden" name="nguesses" value="{{ nguesses }}">
            <br>
            <input type="submit" value="Submit" class="form-submit">
        </form>
        {% endif %}

        {% if message %}
        <h2>Your C code:</h2>
        <pre>
            <code>
#include<stdio.h>
#include<stdlib.h>
#include<time.h>

int main(){
    int number, guess, nguesses=1;
    srand(time(0));
    number = rand()%100 + 1; // Generates a random number between 1 and 100
    // printf("The number is %d\n", number);
    // Keep running the loop until the number is guessed
    do{
        printf("Guess the number between 1 to 100\n");
        scanf("%d", &guess);
        if(guess>number){
            printf("Lower number please!\n");
        }
        else if(guess<number){
            printf("Higher number please!\n");
        }
        else{
            printf("You guessed it in %d attempts\n", nguesses);
        }
        nguesses++;
    }while(guess!=number);
    
    return 0;
}
            </code>
        </pre>
        {% endif %}
    </div>
</body>
</html>
